@import url(reset.css);

/*-------Basic Styles--------*/
html {
    height: 100%;
    font-size: 100%;
}

body {
    margin: 0;
    padding: 0;
    font:16px Arial, sans-serif;
    line-height: 1.6;
    color: #fff;
    hyphens: auto;
}

* {
    margin: 0;
    padding: 0;
    outline: none;
    -webkit-box-: border-box;
    box-sizing: border-box;
}


a {text-decoration: none;}
a:hover {text-decoration: none;}

a:active, a:hover {outline:0;}

img {
    border: none;
    vertical-align: middle;
}


.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}



/*-------Main Styles--------*/

body {
    background-color: #ccc;
    background-color: #3b1723;
    font-family: Arial, sans-serif;
    font-size: 14px;
    height: 100%
}

#wrapper {
    margin: 0 auto;
    padding: 10px 0;
    background-color: #333;
    color: #ccc;
    max-width: 800px;
    border-radius: 10px;
    min-height: 800px;
    box-shadow: 0 0 20px #000
}

h1 {
    text-transform: uppercase;
    margin-top: 20px;
    font-size: 24px;
    letter-spacing: 3px;
    text-align: center;
    background-color: #8b392e;
    color: #ccc;
    box-shadow: 0px 5px 10px #000;
}

.error-message {
    text-align: center;
    color: red;
    margin-top: 20px;
}

.currency-container {
    margin: 30px auto;
    width: 480px;
    min-height: 250px;
    /*outline: 1px solid #ccc;*/
}

.currency-container input {
    border: 1px solid #8b392e;
    font-size: 14px;
    padding-left: 5px;
    display: block;
    width: 180px;
    height: 25px;
    background-color: #fff;
    background-color: rgba(255,255,255,0.6);
}

.currency-container input:focus {
    box-shadow: 0px 0px 5px #fff inset;
    border: 1px solid #333;
    background-color: rgba(255,255,255,0.7);
}

.currency-container select {
    display: block;
    color: #fff;
    width: 180px;
    height: 20px;
    background-color: #ccc;
    border: 1px solid #333;
    background-color: rgba(51,51,51,.7);
    width: 180px;
}

.currency-container select:focus {
    background-color: rgba(51,51,51,.9);
}

.currency-box1, .currency-box2 {
    text-align: left;
    border-radius: 7px;
    background-color: #8b392e;
    float: left;
    padding: 20px;
    padding-bottom: 4px;
    min-width: 180px;
    min-height: 200px;
    box-shadow: 0px 5px 10px #000;
}

.beetwin-box {
    font-size: 30px;
    min-height: 200px;
    padding-top: 70px;
    margin: 0 10px;
    height: 100%;
    float: left;
}

.nominal1, .nominal2 {
    margin-top: 5px;
    text-align: left;
}

@media screen and (max-width: 500px) {
    h1 {
        margin-top: 0;
    }
    .beetwin-box {
        display: none;
    }

    .currency-box1, .currency-box2 {
        margin: 0 auto;
        margin-bottom: 20px;
        max-width: 200px;
        min-height: 180px;
        float: none;
        padding-left: 10px;
        padding-top: 10px;
    }

    .currency-container {
        width: 100%;
    }
}
